<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yummy!</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700">
  <link rel="stylesheet" href="../static/css/style.css">

  <!--[if lt IE 9]>
    <script src="../static/js/vendor/html5shiv.min.js"></script>
    <script src="../static/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Fixed navbar-->
<div class="backgroundImg">
  <img src="../static/img/背景.jpg" alt=""/>
</div>
<div class="row clearfix">
  <div class="col-md-12 column">
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar" style="background: black ;height: 102px">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="position: relative; top: 30px;display: inline;">
            <span id="pageName" style="font-size: 20px; color: whitesmoke; font-style:italic ;">餐厅</span>
          </div>
          <div style="position: relative; top: 30px;display: inline;left: 50px">
            <a href="#">
              <span style="font-size: 40px; color: greenyellow; font-style:italic ;font-weight: bold">Yummy！</span>
            </a>
          </div>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="probootstra-cta-button last"><a href="/restaurant" class="btn btn-ghost">返回<i style="position: relative;top: 2px;left: 10px" class="icon-back"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="row clearfix first">
  <div class="back col-md-4 column">

    <div class="tabbable" id="tabs-537739">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#panel-14495" data-toggle="tab">待完成</a>
        </li>
        <li>
          <a href="#done" data-toggle="tab">已完成</a>
        </li>
        <li>
          <a href="#panel-556484" data-toggle="tab">退订</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="panel-14495">
          <table id="buyTable" class="table table-striped">
            <thead>
            <tr>
              <th>
                订单号
              </th>
              <th>
                点餐时间
              </th>
              <th>
                送餐时间
              </th>
              <th>
                用户邮箱
              </th>
              <th>
                订单内容
              </th>
              <th>
                支付金额/元
              </th>
              <th>
                实得金额/元
              </th>
              <th>
                状态
              </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="done">
          <table id="doneTable" class="table table-striped">
            <thead>
            <tr>
              <th>
                订单号
              </th>
              <th>
                点餐时间
              </th>
              <th>
                送餐时间
              </th>
              <th>
                用户邮箱
              </th>
              <th>
                订单内容
              </th>
              <th>
                支付金额/元
              </th>
              <th>
                实得金额/元
              </th>
              <th>
                状态
              </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="panel-556484">
          <table id="unsubscribeTable" class="table table-striped">
            <thead>
            <tr>
              <th>
                订单号
              </th>
              <th>
                点餐时间
              </th>
              <th>
                送餐时间
              </th>
              <th>
                用户邮箱
              </th>
              <th>
                订单内容
              </th>
              <th>
                支付金额/元
              </th>
              <th>
                实得金额/元
              </th>
              <th>
                状态
              </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="../static/js/scripts.js"></script>
<script src="../static/js/restaurantOrder.js"></script>
</body>
</html>